:root { 
--black_900_b2:#000000b2; 
--blue_A400:#2388ff; 
--green_A700_02:#0aad4b; 
--green_A700_01:#28d05b; 
--orange_A700_01:#f86400; 
--gray_800_03:#3d3d3d; 
--gray_800_02:#5c2e1a; 
--red_400:#d9435b; 
--gray_800_01:#693924; 
--green_700:#20b426; 
--red_400_19:#e94b4819; 
--black_900_01:#002602; 
--black_900_00:#00000000; 
--yellow_800:#e09f2c; 
--deep_orange_200_01:#ffbe9d; 
--light_green_600:#7eb457; 
--deep_orange_900:#872d00; 
--blue_gray_900_02:#292b37; 
--deep_orange_A700:#e51919; 
--green_A700_03:#13d962; 
--blue_gray_900_01:#333333; 
--deep_orange_500:#ff6316; 
--blue_gray_900:#272343; 
--black_900_02:#00000002; 
--yellow_800_01:#f7b030; 
--red_A200_01:#fc4e51; 
--white_A700_4c:#ffffff4c; 
--gray_400:#b3b3b3; 
--blue_gray_100:#cccccc; 
--gray_800:#4c4c4c; 
--red_400_33:#e94b4833; 
--orange_600:#f98500; 
--black_900_0c:#0000000c; 
--green_700_51:#20b42651; 
--black_900_99:#00000099; 
--red_200_01:#db9b7c; 
--black_900_19:#00000019; 
--black_900_14:#00260214; 
--gray_700_02:#555555; 
--green_A700_19:#00b20619; 
--gray_700_01:#606060; 
--deep_orange_500_7f:#ff63167f; 
--white_A700_d8:#ffffffd8; 
--blue_gray_100_01:#d7d7d7; 
--light_green_100:#e5d6c1; 
--red_300:#c66b60; 
--gray_50:#f9f9f9; 
--white_A700_cc:#ffffffcc; 
--light_green_500:#8cc152; 
--gray_500_01:#aaaaaa; 
--deep_orange_400:#ff7e40; 
--orange_A100:#fcd770; 
--red_300_02:#d49073; 
--black_900_a2:#000000a2; 
--gray_500:#999999; 
--lime_600:#c7c934; 
--red_300_01:#e47c6e; 
--gray_900:#292929; 
--gray_100:#f2f2f2; 
--deep_orange_500_75:#ff631675; 
--deep_orange_A400_87:#ff540087; 
--deep_orange_A400_82:#ff540082; 
--red_600:#ea3942; 
--red_200:#cf9e76; 
--white_A700_90:#ffffff90; 
--green_900:#2b562e; 
--green_500:#36c63f; 
--white_A700_99:#ffffff99; 
--white_A700_11:#ffffff11; 
--green_A700:#00b206; 
--deep_orange_500_63:#ff631663; 
--deep_orange_300:#ff826e; 
--gray_200_01:#ebebe9; 
--blue_gray_700:#535353; 
--red_A700:#ff0000; 
--green_900_14:#0e6b1414; 
--gray_600:#7f7f7f; 
--orange_A200:#ff983b; 
--blue_gray_300:#999caa; 
--red_A200:#ff5368; 
--lime_900:#ad6643; 
--amber_300:#ffcf5d; 
--gray_200:#ededed; 
--indigo_400:#5c87bd; 
--gray_100_02:#f2f4f2; 
--gray_400_01:#c1c1c1; 
--gray_400_02:#b9b9b9; 
--gray_100_01:#f7f7f7; 
--white_A700:#ffffff; 
--green_700_19:#20b42619; 
--deep_orange_50:#f3e8d7; 
--red_900:#a82a27; 
--green_500_19:#56ac5919; 
--light_green_300:#b4dd7f; 
--red_500:#e64c3f; 
--red_400_01:#f35244; 
--green_800:#406b41; 
--deep_orange_500_3f:#ff63163f; 
--amber_A400:#fcc900; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--deep_orange_200:#efbe9a; 
--deep_orange_A400:#ff5400; 
--black_900_14_01:#00000014; 
--gray_700:#666666; 
--lime_400:#dee051; 
--green_800_01:#009f06; 
--gray_600_01:#607f62; 
--blue_gray_400:#7a997b; 
--orange_A700:#fa6d00; 
--white_A700_a2:#ffffffa2; 
--deep_orange_300_01:#eb996e; 
--orange_700:#f77c00; 
--light_green_600_01:#79ad54; 
--lime_400_01:#d0d24b; 
--gray_300:#e6e6e6; 
--orange_300:#ffb545; 
--gray_300_02:#e0e0de; 
--gray_300_01:#e5e5e5; 
--white_A700_87:#ffffff87; 
--black_900_33:#00000033; 
--green_700_33:#20b42633; 
--indigo_500:#456ea2; 
}